.out {
    height: 2600px;
    width: 1500px;
    background-color: rgb(247, 248, 249);
    margin: 0 auto;
}

.outout {
    position: absolute;
    z-index: 1;
    width: 2600PX;
    height: 1500PX;
}

.date {
    position: absolute;
    z-index: 2;
    font-size: 60px;
    margin-top: 1470px;
    width: 1500px;
    text-align: center;
}

#myimg {
    width: 1500px;
    height: 2600px;
}
