.out {
    height: 3200px;
    width: 1650px;
    color: red;
    margin: 0 auto;
}

.outout {
    position: absolute;
    z-index: 1;
    width: 1650PX;
    height: 3200PX;
}

.date {
    position: absolute;
    z-index: 2;
    font-size: 80px;
    margin-top: 2050px;
    width: 1650px;
    text-align: center;
}

#myimg {
    width: 1650px;
    height: 3200px;
}
