.out {
    position: relative;  
    height: 3200px;
    width: 1650px;
    background-color: rgb(247, 248, 249);
    margin: 0 auto;
}

.outout {
    position: absolute;
    z-index: 1;
    width: 1650PX;
    height: 3200PX;
}

.date {
    position: absolute;
    z-index: 2;
    font-size: 170px;
    width: 1500px;
    text-align: center;
    writing-mode: vertical-rl; 
    white-space: nowrap; 
    bottom: 5px;  
    color: rgb(224, 26, 26); 

}

#myimg {
    width: 1650px;
    height: 3200px;
}
